.popup__field {
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
    align-self: flex-end;
}
